/* ===== ART SECTION ===== */
#art {
  position: relative;
  min-height: 100dvh;
  padding: 5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    circle at center,
    #b52a9d 0%,
    #232245 40%,
    transparent 100%
  );
  overflow: hidden;
}

/* ===== TITLE ===== */
#art > .container > h2 {
  font-family: "Modern Negra", serif;
  font-size: clamp(3rem, 16vw, 12rem);
  line-height: 1;
  text-align: center;
  color: #505050;
  margin-bottom: 2rem;
  position: relative;
}

/* ===== CONTENT WRAPPER ===== */
#art .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  margin-top: 8rem;
}

/* ===== LISTS ===== */
#art ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#art li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#art li img {
  width: 18px;
  height: 18px;
}

#art li p {
  font-size: 0.95rem;
  max-width: 15rem;
}

/* ===== COCKTAIL IMAGE ===== */
#art .cocktail-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 70vh;
  overflow: hidden;
  border-radius: 2rem;
}

#art .cocktail-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;

  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

/* ===== MASKED TEXT CONTAINER ===== */
#art .masked-container {
  margin-top: 10rem;
  position: relative;
  width: 100%;
  text-align: center;
}

#art .masked-container h2 {
  font-family: "Modern Negra", serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  color: #fff;
  margin-bottom: 2rem;
}

#masked-content {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  max-width: 36rem;
}

#masked-content h3 {
  font-family: "DM Serif Text", serif;
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: white;
  margin-bottom: 0.5rem;
}

#masked-content p {
  font-size: 1.1rem;
  color: #d1d1d1;
}

/* ===== FADE TARGET ===== */
.will-fade {
  opacity: 1;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  #art{
    padding: 3rem 1rem;
    position: relative;
    min-height: auto;
  }
  #art .content {
    flex-direction: column;
    margin-top: 12rem;
  }

  #art .cocktail-img {
    width: 100%;
    height: 50vh;
    top: 30%;
  }

  #masked-content {
    bottom: 12rem;
  }
}

@media (max-width: 480px) {
  #art{
    padding: 2rem 0.5rem;
  }
  #art .cocktail-img {
    height: 40vh;
    top: 30%;
  }

  #masked-content {
    bottom: 10rem;
  }
}
