@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #181737;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

section {
  width: 100%;
  padding: 4rem 1.5rem;
}

main {
  padding-top: 80px;
}
